		<!-- Footer -->
		<footer class="header-pd">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h3 class="upper orange">Menu</h3>
						<ul class="primary footer-menu">
							<li><a href="{site_url}about">About</a></li>
							<li><a href="{site_url}activities">Activities</a></li>
							<li><a href="{site_url}hours">Our Hours</a></li>
							<li><a href="{site_url}packages">Packages</a></li>
							<li><a href="{site_url}prices-promos">Prices &amp; Promos</a></li>
							<li><a href="{site_url}contact">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h3 class="upper purple ">Important Info</h3>
							<ul class="primary info-menu">
								<li><a href="{site_url}terms-conditions">Terms &amp; Conditions</a></li>
								<li><a href="{site_url}waiver">Waiver</a></li>
								<li><a href="{site_url}faqs">FAQ's</a></li>
							</ul>
						<h3 class="upper teal">Social</h3>
							<ul class="social-inline">
{exp:channel:entries channel="company_info" dynamic="no"}
									{social_media}
									<li>
										<a target="_blank" class="{social_media:icon}" href="{social_media:link}"><i class="fa fa-{social_media:icon}"></i></a>
									</li>
									{/social_media}

									{!-- <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
									<a class="instagram" href="#"><i class="fa fa-instagram"></i></a> --}
								
							</ul>
					</div>
					<div class="col-md-4">
						<h3 class="upper green">Contact</h3>
						<ul class="contact-menu">
							<li>
								<a href="tel:{phone_number_link}">
									<div class="link-wrap">
										<div class="icon"><i class="fa fa-phone"></i></div>
										<span>{phone_number_display}</span>
									</div>
								</a>
							</li>
							<li>
								<a href="mailto:{primary_email}">
									<div class="link-wrap">
										<div class="icon"><i class="fa fa-envelope"></i></div><span>{primary_email}</span>
									</div>
								</a>
							</li>
							<li>
								<a target="_blank" href="http://maps.google.com/?q={address},%20{city},%20{state},%20{zip}">
									<div class="link-wrap">
										<div class="icon"><i class="fa fa-map-marker"></i></div>
										<span>{address}<br>
													{city}, {state} {zip}			</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
{/exp:channel:entries}
		<div class="header-pd copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-6 flush">
						<p class="text-right">Created by:</p>
					</div>
					<div class="col-md-6 flush">
						<p><a target="_blank" href="http://www.shawnbrandt.com">Shawn Brandt</a></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 flush">
						<p class="text-right">in partnership with:</p>
					</div>
					<div class="col-md-6 flush">
						<p><a target="_blank" href="http://onyourleft.marketing/">On Your Left Marketing</a></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 flush">
						<p class="text-center">{site_name} &copy; {current_time format="%Y"}</p>
					</div>
				</div>
			</div>
		</div>
		<!-- #site-canvas -->
		</div>
	<!-- #site-wrapper> -->
	</div>


</body>
</html>