{if !segment_1}
	{exp:channel:entries channel="home" entry_id='1' dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{home_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}" />
		<meta property="og:image" content="{home_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="contact"}

	{exp:channel:entries channel="contact" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{contact_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}contact" />
		<meta property="og:image" content="{contact_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="faqs"}

	{exp:channel:entries channel="faqs" entry_id='14' dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{faqs_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}faqs" />
		<meta property="og:image" content="{faqs_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="about"}

	{exp:channel:entries channel="about" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}about" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="activities"}

	{exp:channel:entries channel="activities" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}activities" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="booking"}

	{exp:channel:entries channel="booking" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}booking" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="hours"}

	{exp:channel:entries channel="hours" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}hours" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="packages"}

	{exp:channel:entries channel="packages" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}packages" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="prices-promos"}

	{exp:channel:entries channel="prices_promos" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}prices-promos" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="purchase"}

	{exp:channel:entries channel="purchase" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}purchase" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="purchase"}

	{exp:channel:entries channel="purchase" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}purchase" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="terms-conditions"}

	{exp:channel:entries channel="terms_conditions" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}terms-conditions" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="waiver"}

	{exp:channel:entries channel="waiver" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Soar Joplin Trampoline Park</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@soarjoplin">
		<meta name="twitter:title" content="{entry_title} - Soar Joplin Trampoline Park">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{standard_social_image}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Soar Joplin Trampoline Park" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}waiver" />
		<meta property="og:image" content="{standard_social_image}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{/if}