/*
* Uses Font Awesome and Bootstrap 3
* Both aren't required for this demo
*/
#site-wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  height: 100vh; /* Temp: Simulates a tall page. */
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  /*-webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
}
.show-nav #site-canvas {
  /*-webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);*/
}

.upper {
  text-transform: uppercase;
}
.relative-wrap {
  position: relative;
}
#site-menu {
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 70px;
  right: -300px;
  background: white;
  padding: 0px;
  background: #151515;
  overflow-y: auto;
   -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}


#site-menu.change {
    right: 0;
    z-index: 99;
    overflow-y: auto;
     -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.main-nav {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border-bottom: 4px solid black;
}

.main-nav li a,
.info-nav li a  {
  width: 100%;
  display: inline-block;
  padding: 8px;
  font-size: 24px;
  color: white;
  text-decoration: none !important;
   -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.info-nav {
  padding: 0;
  list-style-type: none;
  border-bottom: 4px solid black;
}

.info-nav li a {
  background: #8800E0;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.main-nav li a {
  background: #F28C20;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.main-nav li a:hover,
.main-nav li a:focus,
.info-nav li a:hover,
.info-nav li a:focus  {
  color: white;
   -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.main-nav li a:hover:before,
.main-nav li a:focus:before,
.info-nav li a:hover:before,
.info-nav li a:focus:before {
  content: '\f0da';
  font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
  color: white;
  padding-right: 7px;
  color: black;
  font-size: 20px;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

/*.info-nav {
  display: none;
}

@media (max-width: 769px) {
  .info-nav {
    display: block;
  }
}*/

ul.desktop-nav {
   display: inline-block;
    color: black;
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 0px;
    position: relative;
}

@media (max-width: 1270px) {
  ul.desktop-nav {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  ul.desktop-nav {
    display: inline-block;
    color: black;
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 50px;
  }
}

@media (max-width: 480px) {
  ul.desktop-nav {
    display: none;
  }
}

.hours-check {
    position: absolute;
    border: 0 !important;
    padding: 10px;
    font-size: 14px;
    background: white !important;
    top: 55px;
    border-radius: 0 !important;
    right: 0px;
}

.hours-check:active,
.hours-check:focus,
.hours-check:hover {
  box-shadow: none !important;
}

ul.desktop-nav li {
  display: inline;
}

ul.desktop-nav li a {
    display: inline-block;
    padding: 10px 8px;
    margin: 15px 4px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    background: transparent;
    -webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

ul.desktop-nav li a:hover,
ul.desktop-nav li a:focus {
    color: black;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

ul.desktop-nav li a:active {
      -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.425);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.425);
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

ul.desktop-nav li a.bg-orange:hover,
ul.desktop-nav li a.bg-orange:focus {
  background: #F28C20;
}

ul.desktop-nav li a.bg-teal:hover,
ul.desktop-nav li a.bg-teal:focus {
  background: #33B5E7;
}

ul.desktop-nav li a.bg-purple:hover,
ul.desktop-nav li a.bg-purple:focus {
  background: #8800E0;
}

ul.desktop-nav li a.bg-green:hover,
ul.desktop-nav li a.bg-green:focus {
  background: #94C63D;
}

/* Just styles... Not relevant to demo */
body {
  background-color: white;
  color: #333;
  font-family: 'Poppins', sans-serif;
}
#toggleNavBtn {
  width: 50px;
  font-size: 20px;
  font-weight: 300;
  position: fixed;
  right: 10px;
  top:10px;
  border: 2px solid black;
  background: transparent;
  color: black;
  padding: 13px 0 9px 0px;
  -webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
}



.toggle-nav.change {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.425);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.425);
}

#toggleNavBtn:hover,
#toggleNavBtn:focus,
#toggleNavBtn:active {
  background: white;
  color: black;
}

.flush-left {
  padding-left: 0;
}

.flush-right {
  padding-right: 0;
}

.flush {
  padding: 0;
}

.primary-pd {
  padding: 90px 0;
}

@media (max-width: 992px) {
    .primary-pd {
      padding: 70px 0;
    }
}

@media (max-width: 768px) {
    .primary-pd {
      padding: 50px 0;
    }
}

@media (max-width: 480px) {
    .primary-pd {
      padding: 30px 0;
    }
}

.header-pd {
  padding: 30px 0;
}

@media (max-width: 768px) {
    .header-pd {
      padding: 20px 0;
    }
}

.orange {
  color: #F28C20;
}

.teal {
  color: #33B5E7;
}

.green {
  color: #94C63D;
}

.purple {
  color: #8800E0;
}

.bg-orange {
  background: #F28C20;
}

.bg-teal {
  background: #33B5E7;
}

.bg-green {
  background: #94C63D;
}

.bg-purple {
  background: #8800E0;
}

.bg-off-white {
  background: #f4f4f4;
}

#site-canvas {
  padding-top: 70px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: white;
  height: 70px;
}

.header .container {
  height: 70px;
}

.logo {
  float: left;
  padding: 10px 10px 10px 0;
  left: 0;
  top: 5px;
  max-width: 250px;
  margin-left: -50px;
}

@media (max-width: 1200px) {
  .logo {
    position: absolute;
    margin-left: 0;
  }
}

@media (max-width: 769px) {
  .logo {
    max-width: 95px;
    padding: 0;
  }
}

ul.primary {
  list-style-type: none;
  padding-left: 0;
}

footer {
  background: black;
}

footer a {
  font-size: 18px;
  color: white;
  padding-bottom:5px;
  display: inline-block;
}

@media (max-width: 480px) {
  footer a {
    font-size: 14px;
  }
}

ul.contact-menu,
ul.social-inline {
  display: inline-block;
  padding-left: 0;
}

.social-inline li {
  display: inline;
}

.social-inline li a {
  display: inline-block;
  width: 42px;
  text-align: center;
  -webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
  color: black;
  background: white;
  padding: 0;
    margin: 0;
    margin-right: 10px;
    line-height: 42px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.social-inline li a:hover,
.social-inline li a:focus {
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.social-inline li a i {
  padding-top: 8px;
}

.social-inline li a.facebook:hover,
.social-inline li a.facebook:focus{
  background: #3C5B9B;
}

.social-inline li a.twitter:hover,
.social-inline li a.twitter:focus {
  background: #2DAAE1;
}

.social-inline li a.instagram:hover,
.social-inline li a.instagram:focus {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7ad12+0,f7ad12+24,9b12d5+100 */
background: rgb(247,173,18); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(247,173,18,1) 0%, rgba(247,173,18,1) 24%, rgba(155,18,213,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(247,173,18,1) 0%,rgba(247,173,18,1) 24%,rgba(155,18,213,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(247,173,18,1) 0%,rgba(247,173,18,1) 24%,rgba(155,18,213,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ad12', endColorstr='#9b12d5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer .social-inline li a {
  font-size: 24px;
}

footer h3.orange {
  border-bottom: 2px solid #F28C20;
}

footer h3.teal {
  border-bottom: 2px solid #33B5E7;
}

footer h3.green {
  border-bottom: 2px solid #94C63D;
}

footer h3.purple {
  border-bottom: 2px solid #8800E0;
}

footer h3 {
  width: 80%;
  margin-bottom: 15px;
}

ul.footer-menu li a,
ul.info-menu li a {
  width: 100%;
  color: white;
  width: 80%;
  padding: 5px 10px;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

@media (max-width: 480px) {
  ul.footer-menu li a,
  ul.info-menu li a {
    width: 80%;
  }
}

ul.footer-menu li a:hover,
ul.footer-menu li a:focus {
  text-decoration: none;
  background: #F28C20;
  color: black;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

ul.info-menu li a:hover,
ul.info-menu li a:focus {
  text-decoration: none;
  background: #8800E0;
  color: black;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

ul.contact-menu li a div.icon {
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  float: left;
  margin-right: 5px;
  padding: 5px;
  background: white;
  color: black;
  -webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
}

ul.contact-menu li a span {
  padding: 0 10px;
}

@media (max-width: 480px) {
  ul.contact-menu li a span {
    line-height: 28px !important;
  }
}

ul.contact-menu li a:hover span,
ul.contact-menu li a:focus span {
  background: #94C63D;
  color: white;
  text-shadow: none;
  padding: 0 10px;
  color: black;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

ul.contact-menu li a:hover div.icon,
ul.contact-menu li a:focus div.icon {
  background: #94C63D;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}


ul.contact-menu {
  list-style-type: none;
}

ul.contact-menu li a span {
  line-height: 34px;
  position: absolute;
}

.copyright {
  background: #151515;
  -webkit-box-shadow: inset 0px 9px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 9px 21px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 9px 21px 0px rgba(0,0,0,0.75);
}

.copyright p {
  padding: 0 5px;
  margin: 0;
  color: white;
}

@media (max-width: 992px) {
  .copyright p {
    text-align: left;
    padding: 0 10px;
  }
  .copyright a {
    margin-bottom: 10px;
    display: inline-block;
  }
}

.copyright a {
  text-decoration: none;
  color: white;
}

.copyright a:hover,
.copyright a:focus {
  text-decoration: underline;
}

ul.mobile-nav {
  padding: 0;
  margin: 0;
  display: none;
}

@media (max-width: 480px) {
  ul.mobile-nav {
    display: block;
  }
}

ul.mobile-nav li a {
  width: 100%;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 10px 8px;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

ul.mobile-nav li a:hover,
ul.mobile-nav li a:focus,
ul.mobile-nav li a:active {
  color: black;
  text-decoration: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.slide-wrap {
  position: relative;
}

.slide-content {
  width: 80%;
  max-width: 992px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
  background: black;
}

.slide-content h2 {
  margin: 0;
  font-weight: 700;
}

.slide-content p {
  color: white;
  padding: 0;
  margin: 0;
  line-height: 2;
}

.slide-button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    text-align: center;
    padding: 15px 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.slide-wrap a {
  text-decoration: none;
}

.slide-button:active,
.slide-button:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.425);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.425);
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

@media (max-width: 769px) {
  .slide-content,
  .slide-button {
    position: static;
    width: 100%;
  }
}

.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;  // added this
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.slider {
  position: relative;
}

.slider .owl-controls {
  position: absolute;
  top: 50%;
  width: 100%;
}

.slider .owl-prev,
.slider .owl-next {
  position: absolute;
  z-index: 99999;
  background: black;
  padding: 13px;
  font-size: 18px;
  margin-top: -30px;
  opacity: .6;
  color: white;
}

@media (max-width: 769px) {
  .slider .owl-prev,
  .slider .owl-next {
    margin-top: -40px;
  }
}



.slider .owl-prev:hover,
.slider .owl-next:hover {
  opacity: 1;
}

.slider .owl-prev {
  left: 0;
}

.slider .owl-next {
  right: 0;
}

.slider .owl-item {
}

.cta-content h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  letter-spacing: .7px;
  font-weight: 700;
}

.cta-content p {
  font-size: 18px;
  line-height: 1.5;
  max-width: 769px;
  margin: 0 auto;
  display: block;
}

.activities img {
  width: 100%;
  -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.activities img.orange {
  border: 4px solid #F28C20;
}
.activities img.teal {
  border: 4px solid #33B5E7;
}
.activities img.purple {
  border: 4px solid #8800E0;
}
.activities img.green {
  border: 4px solid #94C63D;
}

.activities .img-mask {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    background: black;
    overflow: hidden;
    margin: 0 20px;
    max-width: 300px;
}

@media (max-width: 992px) {
  .activities .img-mask {
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 480px) {
  .activities .img-mask {
    margin: 0 50px;
  }
}

.activities h3 {
  color: #333;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.activities a {
  text-decoration: none;
}

@media (max-width: 992px) {
  .activities h3 {
    margin-bottom: 30px;
  }
}

.img-mask.expand img {
  -webkit-transform: scale(1) rotate(0.00deg);
  transform: scale(1) rotate(0.00deg);
  opacity: 1;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
      padding: 7px;
}

.img-mask.expand:hover img,
.img-mask.expand:focus img,
.img-mask.expand:active img {
  -webkit-transform: scale(1.15) rotate(0.01deg);
  transform: scale(1.15) rotate(0.01deg);
  opacity: 0.5;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-primary {
  width: 100%;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  padding: 20px 10px;
  background: transparent;
}

.activities .btn-primary {
  max-width: 250px;
  margin: 50px auto 0 auto;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .7px;
}

.activities .btn-primary:focus,
.activities .btn-primary:active {
  color: white;
  background: transparent;
      -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.425);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.425);
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
  outline: 0;
  color: #333;
}

.gal-block {
  position: relative;
}

.gal-block img {
  padding-bottom: 30px;
  width: 100%;
  height: auto;
}

.gal-block a {
  outline: 0;
}

.gal-block ul.sharer {
  position:absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding-left: 0;
}

.gal-block ul.sharer li {
  display: inline;
}

.gal-block ul.sharer li a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-left: 5px;
  font-size: 18px;
  color: white;
  background: black;
  width: 45px;
}

.content {
  color: #1b1b1b;
}

.content a,
.content p,
.content ul,
.content ol,
.primary-link {
  color: #1b1b1b;
}

.content a:hover,
.content a:focus,
.content a:active,
.primary-link:hover,
.primary-link:focus,
.primary-link:active {
  color: #33B5E7;
  text-decoration: none !important;
}

.icon-circle {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  background: #94C63D;
  float: left;
  margin-right: 10px;
      -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

}

.contact-detail a:hover,
.contact-detail a:focus,
.contact-detail a:active {
  color: white;
  
}

.contact-detail a span {
  padding: 0 10px;
  position: absolute;
  line-height: 24px;
  margin-top: 8px;
  background:transparent;
  -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    transition: background .25s ease;
}

.contact-detail a:hover span,
.contact-detail a:focus span,
.contact-detail a:active span {
  background: #94C63D;
  padding: 0 10px;
  position: absolute;
  line-height: 24px;
  margin-top: 8px;
  -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    transition: background .25s ease;
}

.map-overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

@media (max-width: 768px) {
  .map-overlay {
    width:100%;
    height:380px; /* your iframe height */
    top:380px;  /* your iframe height */
     margin-top:-380px;  /* your iframe height */
  }
  iframe.map {
    height: 380px;
  }
}

@media (max-width: 992px) {
  .contact-block {
      margin: 0px 0 14px 0;
  }
  .icon-circle {
    margin-right: 5px;
  }
  .content-block-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }
}

input,
textarea {
  width: 100%;
  padding: 15px 10px;
  outline: 0;
  font-size: 16px;
  margin-bottom: 15px;
  border: 2px solid #94C63D;
}

input::-moz-selection { background: rgba(148, 198, 61, .5)}
input::selection { background: rgba(148, 198, 61, .5); }

textarea::-moz-selection { background: rgba(148, 198, 61, .5)}
textarea::selection { background: rgba(148, 198, 61, .5); }

textarea {
  min-height: 175px;
}

.contact-container {
  max-width: 992px;
  margin: 0 auto;
  display: block;
}

.contact-container button {
  width: 100%;
  max-width: 175px;
  text-align: center;
  border: 2px solid #94C63D;
  background: transparent;
  outline: 0 !important;
  font-size: 18px;
  color: darkgrey;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.contact-container button:hover,
.contact-container button:focus,
.contact-container button:active {
  color: white;
  background: #94C63D;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.fancybox-button {
  width: 64px;
  height: 64px;
}