{embed="inc/open-page"}
<!-- BODY START HERE -->
{exp:channel:entries channel="faqs" dynamic="no"}
<div class="starter primary-pd bg-off-white">
	<div class="container">
		<div class="row content">
			<div class="col-xs-12">
				<h1>{title}</h1>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					{faqs}
			        <div class="panel panel-default">
			            <div class="panel-heading" role="tab" id="heading{faqs:count}">
			                <h4 class="panel-title">
			                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{faqs:count}" aria-expanded="true" aria-controls="collapse{faqs:count}">
			                        <i class="more-less glyphicon glyphicon-plus"></i>
			                        {faqs:question}
			                    </a>
			                </h4>
			            </div>
			            <div id="collapse{faqs:count}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{faqs:count}">
			                <div class="panel-body">
			                	  {exp:ce_img:bulk width="1170" crop="no" allow_scale_larger="no" quality="90" output='<img src="{made}" alt="{attr:alt}" style="max-width:100%;width:100%; height: auto;" />'}
			                      	{faqs:answer}
			                      {/exp:ce_img:bulk}
			                </div>
			            </div>
			        </div>
			        {/faqs}
			    </div><!-- panel-group -->
			</div>
		</div>
	</div>
</div>
{/exp:channel:entries}

{embed="inc/close-page"}