{embed="inc/open-page"}

{exp:channel:entries channel="home" dynamic="no"}

		<!-- BODY START HERE -->
<div class="starter">
	<div class="container flush">
		<section class="slider">
			{slider}
			<div>
				<div class="slide-wrap">
					<img class="img-responsive" src="{exp:ce_img:single src='{slider:image}' quality='84' width='1170' height='658' crop='yes|center,center' url_only='yes'}">
					<div class="slide-content">
						<h2 class="{slider:theme_color}">{slider:header_text}</h2>
						<p>{exp:eehive_hacksaw char="100" append="..."}{slider:text}{/exp:eehive_hacksaw}</p>
					</div>
					<a href="{slider:button_link}">
						<div class="slide-button bg-{slider:theme_color}">
							{slider:button_text} <i class="fa fa-chevron-right"></i>
						</div>
					</a>
				</div>
			</div>
			{/slider}
		</section>
		<section style="padding-bottom: 40px;" class="primary-pd cta-content">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="text-center upper">{activities_header}</h2>
					<p class="text-center">{activities_text}</p>
				</div>
			</div>
		</section>
		<section style="padding-top: 0;" class="primary-pd activities">
			<div class="row">
				{activity}
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="{activity:link}">
						<div class="img-mask expand">
							<img class="{activity:theme_color}" src="{exp:ce_img:single src='{activity:image}' quality='84' width='300' height='300' crop='yes|center,center' url_only='yes'}">
						</div>
						<h3 class="text-center">{activity:button_text}</h3>
					</a>
				</div>
				{/activity}
				{!-- <div class="col-md-3 col-sm-6 col-xs-12">
					<a href="#">
						<div class="img-mask expand">
							<img class="purple" src="{site_url}assets/img/dodgeball.jpg">
						</div>
						<h3 class="text-center">Dodgeball</h3>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="#">
						<div class="img-mask expand">
							<img class="green" src="{site_url}assets/img/dodgeball.jpg">
						</div>
						<h3 class="text-center">Dodgeball</h3>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="#">
						<div class="img-mask expand">
							<img class="teal" src="{site_url}assets/img/dodgeball.jpg">
						</div>
						<h3 class="text-center">Dodgeball</h3>
					</a>
				</div> --}
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a href="{site_url}activities" class="btn btn-primary">View All Activities</a>
				</div>
			</div>
		</section>
		<section style="padding-bottom: 40px;" class="primary-pd cta-content">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="text-center upper">{homegallery_header}</h2>
					{!-- For Facebook --}
					<p class="text-center">{homegallery_shortmessage}<a target="_blank" class="primary-link" href="https://www.facebook.com/search/top/?q=%23{homegallery_hastag}">&nbsp;<strong>#{homegallery_hastag}</strong></a></p>
					{!-- For Twitter --}
					{!-- <p class="text-center">{homegallery_shortmessage}<a target="_blank" class="primary-link" href="https://twitter.com/search?q=%23{homegallery_hastag}&src=typd">&nbsp;<strong>#{homegallery_hastag}</strong></a></p> --}
				</div>
			</div>
		</section>
		<div class="home-gallery">
			<div class="row">
				{home_gallery}
			    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
			        <div class="gal-block">
			        	<ul class="sharer">
				        	<li><a target="_blank" href="https://www.facebook.com/sharer.php?u={home_gallery:image}"><i class="fa fa-facebook"></i></a></li>
				        	{!-- <li><a target="_blank" href="https://twitter.com/intent/tweet?url={site_url}&text={home_gallery:text_caption}&via={home_gallery:at_person}&hashtags={home_gallery:hashtag}"><i class="fa fa-twitter"></i></a></li> --}
				        </ul>
			        	<a href="{exp:ce_img:single src='{home_gallery:image}' quality='84' width='900' height='900' url_only='yes'}" data-fancybox data-caption="{home_gallery:text_caption}">
							<img class="img-reponsive" src="{exp:ce_img:single src='{home_gallery:image}' quality='84' width='420' height='420' crop='yes|center,center' url_only='yes'}" alt="{home_gallery:text_caption} Image" />
						</a>
			    	</div>
			    </div>
			    {/home_gallery}
			    {!-- <div class="col-md-3 col-sm-6">
			        <div class="gal-block">
			        	<a href="assets/img/shoot-share.jpg" data-fancybox data-caption="shoot share">
							<img class="img-reponsive" src="{site_url}assets/img/shoot-share.jpg" alt="" />
						</a>
			    	</div>
			    </div>
			    <div class="col-md-3 col-sm-6">
			        <div class="gal-block">
			        	<a href="assets/img/shoot-share.jpg" data-fancybox data-caption="shoot share">
							<img class="img-reponsive" src="{site_url}assets/img/shoot-share.jpg" alt="" />
						</a>
			    	</div>
			    </div>
			    <div class="col-md-3 col-sm-6">
			        <div class="gal-block">
			        	<a href="assets/img/shoot-share.jpg" data-fancybox data-caption="shoot share">
							<img class="img-reponsive" src="{site_url}assets/img/shoot-share.jpg" alt="" />
						</a>
			    	</div>
			    </div>
			    <div class="col-md-3 col-sm-6">
			        <div class="gal-block">
			        	<a href="assets/img/shoot-share.jpg" data-fancybox data-caption="shoot share">
							<img class="img-reponsive" src="{site_url}assets/img/shoot-share.jpg" alt="" />
						</a>
			    	</div>
			    </div>
			    <div class="col-md-3 col-sm-6">
			        <div class="gal-block">
			        	<a href="assets/img/shoot-share.jpg" data-fancybox data-caption="shoot share">
							<img class="img-reponsive" src="{site_url}assets/img/shoot-share.jpg" alt="" />
						</a>
			    	</div>
			    </div>
			    <div class="col-md-3 col-sm-6">
			        <div class="gal-block">
			        	<a href="assets/img/shoot-share.jpg" data-fancybox data-caption="shoot share">
							<img class="img-reponsive" src="{site_url}assets/img/shoot-share.jpg" alt="" />
						</a>
			    	</div>
			    </div>
			    <div class="col-md-3 col-sm-6">
			        <div class="gal-block">
			        	<a href="assets/img/shoot-share.jpg" data-fancybox data-caption="shoot share">
							<img class="img-reponsive" src="{site_url}assets/img/shoot-share.jpg" alt="" />
						</a>
			    	</div>
			    </div> --}
			</div>
		</div>
		
	</div>
</div>
{/exp:channel:entries}


{embed="inc/close-page"}