{embed="inc/open-page"}
<!-- BODY START HERE -->
	
{exp:channel:entries channel="company_info" dynamic="no"}
{if !segment_2}
<div class="starter primary-pd bg-off-white">
	<div class="container">
		<div class="row content">
			<div class="contact-detail">
				<div class="col-sm-6">
					<a class="sc-link" target="_blank" href="https://www.snapchat.com/add/soarjoplin">
						<object class="snapchat-code" data="https://feelinsonice-hrd.appspot.com/web/deeplink/snapcode?username=soarjoplin&amp;type=PNG" type="image/png" height="auto" width="100%">
            				<object data="/deeplink/static/image/ghost.svg" height="auto" width="100%">
            				</object>
            			</object>
            			<h3 class="text-center">soarjoplin</h3>
            		</a>
				</div>
				<div class="col-sm-6">
					<div class="row list-contact">
					    <div class="col-xs-12 content-block-wrap">
					    	<a href="tel:{phone_number_link}" class="btn-primary">
						        <div class="contact-block">
						            <div class="icon-circle">
						            	<i class="fa fa-phone"></i>
						            </div>
						            <span>{phone_number_display}</span>
						        </div>
					        </a>
					    </div>
					    <div class="col-xs-12 content-block-wrap">
					    	<a target="_blank" href="https://m.me/1149329411814655" class="btn-primary">
						        <div class="contact-block">
						            <div class="icon-circle">
						            	<i class="fa fa-bolt"></i>
						            </div>
						            <span>Facebook Messenger</span>
						        </div>
					        </a>
					    </div>
					    <div class="col-xs-12 content-block-wrap">
					        <a href="mailto:{primary_email}" class="btn-primary">
						        <div class="contact-block">
						        	<div class="icon-circle">
						            	<i class="fa fa-envelope"></i>
						            </div>
						            <span>{primary_email}</span>
						        </div>
					        </a>
					    </div>
					    <div class="col-xs-12 content-block-wrap">
					        <a target="_blank" href="http://maps.google.com/?q={address},%20{city},%20{state},%20{zip}" class="btn-primary">
						        <div class="contact-block">
						        	<div class="icon-circle">
						            	<i class="fa fa-map-marker"></i>
						            </div>
						           <span>{address}<br>
									{city}, {state} {zip}</span>
						        </div>
					        </a>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<section>
	<div class="map-overlay" onClick="style.pointerEvents='none'">
	</div>
	<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3180.947519112575!2d-94.47750118470077!3d37.130163579881966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c87eabd2d7acb1%3A0x7ee2b0077caf9d25!2s{address}%2C+{city}%2C+{state}+{zip}!5e0!3m2!1sen!2sus!4v1492448006509" width="100%" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<section class="primary-pd bg-off-white">
	<div class="container contact-container">
		<div class="row">
			{exp:freeform:form form_name="contact" required="name|email" return="contact/thank-you"}
			<div class="col-md-6 col-sm-12 col-xs-12">
				<input type="text" name="full_name" required class="primary" placeholder="Full Name">
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<input type="text" name="email" required class="primary" placeholder="Email">
			</div>
			<div class="col-xs-12">
				<input type="text" name="subject" required class="primary" placeholder="Subject">
				<textarea class="primary" type="text" name="message" placeholder="Your Message"></textarea>
				<button class="btn primary-btn" type="submit">Submit</button>
			</div>
			{/exp:freeform:form}
		</div>
	</div>
</section>
{if:else}
<section class="primary-pd bg-off-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Thank You!</h1>
				<p>Someone at Soar Trampoline Park Joplin will be reaching out to your soon!</p>
			</div>
		</div>
	</div>
</section>
{/if}
{/exp:channel:entries}

{embed="inc/close-page"}