{embed="inc/open-page"}
<!-- BODY START HERE -->
{exp:channel:entries channel="about" dynamic="no"}
<div class="starter primary-pd bg-off-white">
	<div class="container">
		<div class="row content">
			<div class="col-xs-12">
				<h1>{title}</h1>
				{if offline_message}
					{offline_message}
				{if:else}
					{exp:ce_img:bulk width="1170" crop="no" allow_scale_larger="no" quality="90" output='<img src="{made}" alt="{attr:alt}" style="max-width:100%;width:100%; height: auto;" />'}
						{body}
					{/exp:ce_img:bulk}
				{/if}
			</div>
		</div>
	</div>
</div>
{/exp:channel:entries}

{embed="inc/close-page"}